# Ignorar node_modules en todos lados
node_modules/

# Ignorar archivos .env en todos lados
**/.env

# Ignorar fotos personales subidas por los usuarios
server/public/fotos_personal

# Ignorar Notas
Notas/

# Ignorar archivos de estructura generados
docs/estructura.txt